<!DOCTYPE html>
<html lang="en-US">
    <body>
        <div class="cookies-policy-container">
            <div class="cookies-policy-title" key="cookies-title">
                cookies policy
            </div>
            <div class="cookies-policy-description" key="cookies-text">
                We use cookies on this site to enhance your user experience. By clicking the "Accept" button you agree to us doing so.
            </div>
        </div>
        <div class="cookies-buttons-container">
            <div class="cookies-buttons button-agree" onclick="optionCookies(0)">
                <img
                src="assets/img/icons/ic_search_24.png"
                alt="agree"
              />
                <span key="cookies-agree">Yes, i agree<span>
            </div>
            <div class="cookies-buttons button-more" onclick="optionCookies(1)" key="cookies-more">
                <span>More info<span>
            </div>
        </div>
    </body>
</html>