<!DOCTYPE html>
<html lang="en-US">
  <body>
    <!-- Navigation Menu Modal -->
    <div
      id="navigationModal"
      class="modal dnone"
      w3-include-html="front/view/pages/modals/navigationMenu.html"
    ></div>
    <!-- LOADER -->
    <div
      id="modalLoader"
      class="modal dnone"
      w3-include-html="front/view/pages/modals/loader.html"
    ></div>
    <!-- EXAMPLE MODAL 1 -->
    <div
      id="modalOverlay1"
      class="modal dnone"
      w3-include-html="front/view/pages/modals/overlay1.html"
    ></div>
    <!-- EXAMPLE MODAL 1 -->
    <div
      id="modalOverlay2"
      class="modal dnone"
      w3-include-html="front/view/pages/modals/overlay2.html"
    ></div>
  </body>
</html>
