<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div class="generalbody__content_container">
      <div
        id="generalBodyContentSectionTable"
        class="generalbody__content_section-table"
        w3-include-html="front/view/pages/general-body/sections/content-table.html"
      ></div>
      <div class="generalbody__content_section-general">
        <!-- Insert Body sections 1, 2, etc... -->
        <div
          id="generalBodyContentSectionHome"
          class="generalbody__content_section-home generalbody__content_section"
          w3-include-html="front/view/pages/general-body/sections/home.html"
        ></div>
        <!-- etc... -->
        <div
          id="generalBodyContentSectionContactUs"
          class="generalbody__content_section-contact generalbody__content_section dnone"
          w3-include-html="front/view/pages/general-body/sections/contact-us.html"
        ></div>
      </div>
    </div>
  </body>
</html>
