$color-white: #ffffff;
$color-light: #eeeeee;
$color-light-grey: #cccccc;
$color-grey: #999999;
$color-green: #00ff00;
$color-dark-green: green;
$color-red: #ff0000;
$color-black: #000000;

$color-light-blue: #6ca2f8;
$color-light-blue-hover: #537cbe;

$color-dark-blue: #0d2243;
$color-dark-red: #b0002e;

$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-red-transparent: rgba(255, 0, 0, 0.5);
