<!DOCTYPE html>
<html lang="en-US">
  <body>
    <!--<div class="footer-explanation-container">
      <div class="footer-supertitle" key="footer-supertitle">
        Some Footer supertitle
      </div>
      <div class="footer-title" key="footer-title">Some Footer title</div>
      <div class="footer-description" key="footer-explanation">
        Some Footer explanation text
      </div>
      <div class="footer-disclaimer" key="footer-disclaimer">
        Some disclaimer text
      </div>
    </div>-->
    <div class="footer__container-links">
      <span onclick="openLink(1)" key="footer-more">
        More about MinimalMVC
      </span>
      <span onclick="openLink(1)" class="icon-container"
        ><img
          src="assets/img/icons/ic_web.png"
          key="footer-alt-img-site"
          alt="view our site"
      /></span>
      <span onclick="openLink(2)" class="icon-container"
        ><img
          src="assets/img/icons/ic_linkedin_s.png"
          key="footer-alt-img-linkedin"
          alt="view our linkedIn"
      /></span>
      <span onclick="openLink(3)" class="icon-container"
        ><img
          src="assets/img/icons/ic_medium.png"
          key="footer-alt-img-medium"
          alt="view our Medium"
      /></span>
      <span onclick="openLink(4)" class="icon-container"
        ><img
          src="assets/img/icons/ic_twitter_s.png"
          key="footer-alt-img-twitter"
          alt="view our Twitter"
      /></span>
      <span onclick="openLink(5)" class="icon-container"
        ><img
          src="assets/img/icons/ic_youtube.png"
          key="footer-alt-img-youtube"
          alt="view our Youtube channel"
      /></span>
      <span
        onclick="showBodySection('generalBodyContentContactUs')"
        key="footer-contact"
      >
        Contact us
      </span>
      <span onclick="openLink(7)" key="footer-privacy"> Privacy policy </span>
      <span onclick="toggleModal('modalOverlay1')" key="footer-sources-1">
        Modal1
      </span>
      <span onclick="toggleModal('modalOverlay2')" key="footer-sources-2">
        Modal2
      </span>
    </div>
    <div class="footer__container-copyright">
      <span class="copyright" key="footer-copyright">MinimalMVC © 2021</span>
      <img
        src="assets/img/icons/world.ico"
        alt="logo"
        class="sitelogo"
        key="footer-alt-img-logo"
        onclick="openLink(1)"
      />
    </div>
  </body>
</html>
