<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div class="header__container-menu">
      <div class="header__menu" onclick="toggleModal('navigationModal')">
        <div class="header__menu_hamburgerline"></div>
        <div class="header__menu_hamburgerline"></div>
        <div class="header__menu_hamburgerline"></div>
      </div>
    </div>
    <div class="header__container-languages">
      <div class="header__languages">
        <span class="btn btn-light" onclick="setLanguage('es')" rel="es"
          >ES</span
        >
        <span
          class="btn btn-light selected"
          onclick="setLanguage('en')"
          rel="en"
          >EN</span
        >
      </div>
    </div>
    <div class="header__container-text">
      <div class="header__supertitle" key="header-supertitle">
        Some Header SuperTitle
      </div>
      <div class="header__title" key="header-title">Some Header Title</div>
    </div>
    <div class="header__container-breadcrumbs">
      <div
        class="breadcrumb active"
        onclick="showBodySection('generalBodyContentSectionHome')"
        key="section-home-name"
      >
        Home
      </div>
    </div>
    <script>
      console.log("a");
      alert(0);
      validateFormsOnInit();
    </script>
  </body>
</html>
