<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div class="container__overlay-1 overlay">
      <div class="card">
        <div class="modal__close" onclick="toggleModal('modalOverlay1')">
          <img src="assets/img/icons/ic_close.png" alt="Close modal" />
        </div>
        <div class="modal__title" key="modal-1-title">
          Some modal 1 title here
        </div>
        <div class="modal__content" key="modal-1-cotent">
          Some modal content 1 here
        </div>
      </div>
    </div>
  </body>
</html>
