<!DOCTYPE html>
<html lang="en-US">
    <body>
        <div class="cookies__policy_container">
            <div class="cookies__policy_title" key="cookies-title">
                cookies policy
            </div>
            <div class="cookies__policy__description" key="cookies-text">
                We use cookies on this site to enhance your user experience. By clicking the "Accept" button you agree to us doing so.
            </div>
        </div>
        <div class="cookies__buttons_container">
            <div class="cookies__buttons btn__agree btn" onclick="optionCookies(0)">
                <img
                src="assets/img/icons/ic_search_24.png"
                alt="agree"
              />
                <span key="cookies-agree">Yes, i agree<span>
            </div>
            <div class="cookies__buttons btn__more btn" onclick="optionCookies(1)" key="cookies-more">
                <span>More info<span>
            </div>
        </div>
    </body>
</html>