<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div class="container__overlay-2 overlay">
      <div class="card">
        <div class="modal__close" onclick="toggleModal('modalOverlay2')">
          <img src="assets/img/icons/ic_close.png" alt="Close modal" />
        </div>
        <div class="modal__title" key="modal-2-title">
          Some modal 2 title here
        </div>
        <div class="modal__content" key="modal-2-content">
          Some modal 2 content here
        </div>
      </div>
    </div>
  </body>
</html>
