/* larger screens < 4096 */
@media (max-width: 4096px) {
  .footer {
    background-size: 2000px 1000px; } }
/* larger screens < 2560 */
@media (max-width: 2560px) {
  .footer {
    background-size: 1500px 850px; } }
/* larger screens < 1920 */
@media (max-width: 1920px) {
  .footer {
    background-size: 1300px 750px; } }
/* larger screens < 1920 */
@media (max-width: 1680px) {
  .footer {
    background-size: 1100px auto; } }
/* large screens < 1326 */
/* large screens  <1200 */
/* To Small screens, laptops */
@media (max-width: 940px) {
  #tableOfContents {
    display: none; }

  .header__menu {
    display: block; } }
/* To iPads, Tablets */
/* To MOBILE DEVICES*/
