/* Use Koala to join together */
@font-face {
  font-family: primary;
  src: url(../../assets/font/RobotoCondensed-Regular.ttf); }
@font-face {
  font-family: primaryItalic;
  src: url(../../assets/font/RobotoCondensed-Italic.ttf); }
@font-face {
  font-family: primaryBold;
  src: url(../../assets/font/RobotoCondensed-Bold.ttf); }
@font-face {
  font-family: primaryBoldItalic;
  src: url(../../assets/font/RobotoCondensed-BoldItalic.ttf); }
.generalbody__header {
  margin: 0;
  padding: 0;
  width: 100%; }
.generalbody__content {
  margin: 0;
  padding: 0;
  width: 100%; }
  .generalbody__content_container {
    display: flex; }
  .generalbody__content_section-table {
    width: 200px;
    margin-right: 20px; }
  .generalbody__content_section-general {
    width: calc(100% - 220px); }

.container-cookies {
  padding: 33px 60px;
  background-color: #eeeeee;
  width: calc(100% - 120px);
  min-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.sitelogo {
  width: 13px; }

.footer__container-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }
  .footer__container-links span {
    align-self: center;
    line-height: 17px;
    padding: 0 8px;
    border-right: 2px solid #ffffff; }
    .footer__container-links span:first-of-type {
      padding: 0 8px 0 0; }
    .footer__container-links span:last-of-type {
      padding: 0 0 0 8px;
      border-right: 0; }
    .footer__container-links span.icon-container {
      padding: 0 2px;
      border-right: 0; }
      .footer__container-links span.icon-container:first-of-type {
        padding: 0 0 0 8px; }
      .footer__container-links span.icon-container:last-of-type {
        padding: 0 8px 0 0;
        border-right: 2px solid #ffffff; }
.footer__container-copyright {
  text-align: right; }

.header__container-bar {
  position: relative;
  height: 50px; }
.header__container-menu {
  position: absolute;
  top: 0;
  left: 0; }
.header__container-languages {
  position: absolute;
  top: 0;
  right: 0; }
.header__container-text {
  position: relative; }
.header__container-breadcrumbs {
  position: absolute;
  display: flex;
  bottom: 6px;
  left: 14px; }
.header__supertitle {
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px; }
.header__title {
  font-size: 80px;
  line-height: 110px;
  letter-spacing: 3px; }
.header__languages {
  right: 15px;
  top: 15px;
  position: absolute;
  z-index: 50;
  width: max-content;
  color: #000000; }
.header__menu {
  position: fixed;
  z-index: 50;
  margin: 5px 0 0 5px;
  padding: 0 5px;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;
  display: none;
  background-color: rgba(255, 0, 0, 0.5); }
  .header__menu:hover {
    background-color: #ff0000; }
  .header__menu_hamburgerline {
    margin: 5px 0;
    width: 20px;
    height: 0px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 2px; }

.breadcrumb {
  padding-left: 8px;
  color: #cccccc;
  cursor: pointer; }
  .breadcrumb:first-of-type {
    padding-left: 0; }
    .breadcrumb:first-of-type::before {
      display: none; }
  .breadcrumb::before {
    margin-right: 10px;
    content: "";
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .breadcrumb.inactive {
    font-family: primary;
    cursor: auto;
    color: #ffffff; }

.btn {
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  cursor: pointer; }
  .btn:hover {
    background-color: #cccccc; }
  .btn.selected {
    background-color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: primary; }

body.en,
body.es {
  direction: ltr;
  text-align: left; }

.container-header {
  padding: 18px 14px 14px;
  width: auto;
  position: relative;
  background: linear-gradient(120deg, #0d2243 50%, #b0002e 50%);
  color: #ffffff;
  text-align: center;
  font-family: primaryBold;
  text-transform: uppercase; }
.container-body {
  padding: 18px 14px 14px;
  min-height: calc(100vh - 302px); }
.container-footer {
  width: auto;
  padding: 18px 14px 14px;
  background-color: #0d2243;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.modal {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 100;
  cursor: pointer; }
  .modal__close {
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #999999;
    position: absolute;
    right: calc(10% - 12px);
    top: calc(10% - -8px);
    padding: 7px;
    max-height: 24px; }

.overlay {
  width: auto;
  height: 70vh;
  margin: 10% 10% 0 10%;
  border-radius: 9px;
  background-color: #ffffff; }

.card {
  padding: 15px; }

.dnone {
  display: none !important; }

.selectable {
  color: #0d2243;
  font-weight: bold;
  cursor: pointer; }
  .selectable:hover {
    color: #537cbe;
    font-weight: bolder; }

label.error {
  color: #ff0000;
  font-weight: bold; }

input.error,
textarea.error {
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid #ff0000; }

.content-center {
  text-align: center; }

/* larger screens < 4096 */
@media (max-width: 4096px) {
  .footer {
    background-size: 2000px 1000px; } }
/* larger screens < 2560 */
@media (max-width: 2560px) {
  .footer {
    background-size: 1500px 850px; } }
/* larger screens < 1920 */
@media (max-width: 1920px) {
  .footer {
    background-size: 1300px 750px; } }
/* larger screens < 1920 */
@media (max-width: 1680px) {
  .footer {
    background-size: 1100px auto; } }
/* large screens < 1326 */
/* large screens  <1200 */
/* To Small screens, laptops */
@media (max-width: 940px) {
  #tableOfContents {
    display: none; }

  .header__menu {
    display: block; } }
/* To iPads, Tablets */
/* To MOBILE DEVICES*/
