.sitelogo {
  width: 13px;
}
.footer {
  &__container {
    &-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;

      & span {
        align-self: center;
        line-height: 17px;
        padding: 0 8px;
        border-right: 2px solid $color-white;

        &:first-of-type {
          padding: 0 8px 0 0;
        }
        &:last-of-type {
          padding: 0 0 0 8px;
          border-right: 0;
        }

        &.icon-container {
          padding: 0 2px;
          border-right: 0;

          &:first-of-type {
            padding: 0 0 0 8px;
          }
          &:last-of-type {
            padding: 0 8px 0 0;
            border-right: 2px solid $color-white;
          }
        }
      }
    }
    &-copyright {
      text-align: right;
    }
  }
}
