.dnone {
  display: none !important;
}
.selectable {
  color: $color-dark-blue;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: $color-light-blue-hover;
    font-weight: bolder;
  }
}
label.error {
  color: $color-red;
  font-weight: bold;
}
input.error,
textarea.error {
  background-color: $color-red-transparent;
  border: 2px solid $color-red;
}
.content-center {
  text-align: center;
}

.btn {
  border: 2px solid $color-white;
  border-radius: 8px;
  background-color: $color-white-transparent;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: $color-light-grey;
  }
  &.selected {
    background-color: $color-white;
  }

  &__agree {
    display: inline-block;
    border-color: $color-light-blue-hover;
  }
  &__more {
    display: inline-block;

  }
}