.modal {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-black-transparent; /* Black background with opacity */
  z-index: 100;
  cursor: pointer;
  &__close {
    background-color: $color-white;
    border-radius: 25px;
    border: 2px solid $color-grey;
    position: absolute;
    right: calc(15% - 12px);
    top: 140px;
    padding: 7px;
    max-height: 24px;
  }
}
.overlay {
  width: auto;
  width: 70%;
  height: 750px;
  margin: 150px 15%;
  border-radius: 9px;
  background-color: $color-white;
}
.card {
  padding: 15px;
}
