/* To MOBILE DEVICES*/
@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 552px) {
}

@media only screen and (min-width: 624px) {
}

/* To iPads, Tablets */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 818px) {
}

@media only screen and (max-width: 940px) {
  #tableOfContents {
    display: none;
  }
  .header__menu {
    display: block;
  }
}

/* To Small screens, laptops */
@media only screen and (min-width: 1024px) {
}

/* large screens  <1200 */
@media only screen and (min-width: 1200px) {
}

/* large screens < 1326 */
@media only screen and (min-width: 1326px) {
}

/* larger screens < 1920 */
@media only screen and (min-width: 1680px) {
  .footer {
    background-size: 1100px auto;
  }
}

/* larger screens < 1920 */
@media only screen and (min-width: 1920px) {
  .footer {
    background-size: 1300px 750px;
  }
}

/* larger screens < 2560 */
@media only screen and (min-width: 2560px) {
  .footer {
    background-size: 1500px 850px;
  }
}

/* larger screens < 4096 */
@media only screen and (min-width: 4096px) {
  .footer {
    background-size: 2000px 1000px;
  }
}
