<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>USE A TITLE HERE</title>
    <link rel="icon" href="assets/img/icons/world.ico" />
    <!-- Style -->
    <link href="assets/css/all-css.css" rel="stylesheet" />
    <!-- all js joined in order to push to PROD, use Koala to compile -->
    <script language="javascript" src="assets/js/all_js.min.js" type="text/javascript"></script>
  </head>
  
  <body id="body">
    <!-- sections go here -->
    <div
      id="area-header"
      class="area-header header"
      w3-include-html="front/view/area/header.html"
    ></div>
    <div
      id="area-body"
      class="area-body"
      w3-include-html="front/view/area/body.html"
    ></div>
    <div
      id="area-footer"
      class="area-footer"
      w3-include-html="front/view/area/footer.html"
    ></div>
    <div
      id="area-cookies"
      class="area-cookies"
      w3-include-html="front/view/area/cookies.html"
    ></div>
    <div
      id="area-modals"
      class="area-modals"
      w3-include-html="front/view/area/modals.html"
    ></div>
    <script>
      includeHTML();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -- Uncomment when Analytics ID -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id="
      +googleAnalyticsKey
    ></script>
  </body>
</html>
