<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div
      class="general-body-content-section-1-content selectable"
      key="section-home"
      onclick="showBodySection('pageContainerHome')"
    >
      Home
    </div>
    <ul>
      <li key="section-design">
        Design
        <ul>
          <li
            class="selectable"
            key="section-generalBodyContentSectionFrontend"
            onclick="scrollToAnchor('homeIntro')"
          >
            Introduction
          </li>
          <li
            class="selectable"
            key="section-generalBodyContentSectionFrontend"
            onclick="scrollToAnchor('homeFrontend')"
          >
            Front-End
          </li>
          <li
            class="selectable"
            key="section-generalBodyContentSectionBackend"
            onclick="scrollToAnchor('homeBackend')"
          >
            Back-End
          </li>
        </ul>
      </li>
      <li
        class="selectable"
        key="section-contactUs"
        onclick="showBodySection('pageContainerContactUs')"
      >
        Contact us
      </li>
      <li
        class="selectable"
        key="section-loader-name"
        onclick="toggleModal('modalLoader')"
      >
        Loader
      </li>
      <li
        class="selectable"
        key="section-overlay1-name"
        onclick="toggleModal('modalOverlay1')"
      >
        Overlay1
      </li>
      <li
        class="selectable"
        key="section-overlay2-name"
        onclick="toggleModal('modalOverlay2')"
      >
        Overlay2
      </li>
      <li
        class="selectable"
        key="section-breadcrumbTest"
        onclick="showBodySection('breadcrumbTest')"
      >
        Breadcrumb Test
      </li>
    </ul>
  </body>
</html>
