<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div class="page__content_home">
      <div
        id="tableOfContents"
        class="home__component_content-table"
        w3-include-html="front/view/general-components/content-table/content-table.html"
      ></div>
      <div class="home__component">
        <!-- Insert Body sections 1, 2, etc... -->
        <div
          id="homeIntro"
          class="home__intro"
          w3-include-html="front/view/pages/home/components/intro.html"
        ></div>
        <div
          id="homeFrontend"
          class="home__frontend"
          w3-include-html="front/view/pages/home/components/frontend.html"
        ></div>
        <div
          id="homeBackend"
          class="home__backend"
          w3-include-html="front/view/pages/home/components/backend.html"
        ></div>
      </div>
    </div>
  </body>
</html>
