<!DOCTYPE html>
<html lang="en-US">
  <body>
    <div
      id="pageContainerHome"
      class="container__home content__page"
      w3-include-html="front/view/pages/home/content.html"
    ></div>
    <div
      id="pageContainerContactUs"
      class="container__contact content__page dnone"
      w3-include-html="front/view/pages/contact/contact.html"
    ></div>
    <div
      id="containerBreadcrumbTest"
      class="container__breadcrumbtest content__page dnone"
      w3-include-html="front/view/pages/breadcrumb-test/breadcrumb-test.html"
    ></div>
  </body>
</html>
